<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">

    <!-- Brand Logo Light -->
    <a href=@Url.Action("Index", "Dashboard") class="logo logo-light">
        <span class="logo-lg">
            <img src="~/images/logo.png" alt="logo">
        </span>
        <span class="logo-sm">
            <img src="~/images/logo-sm.png" alt="small logo">
        </span>
    </a>

    <!-- Brand Logo Dark -->
    <a href=@Url.Action("Index", "Dashboard") class="logo logo-dark">
        <span class="logo-lg">
            <img src="~/images/logo-dark.png" alt="dark logo">
        </span>
        <span class="logo-sm">
            <img src="~/images/logo-dark-sm.png" alt="small logo">
        </span>
    </a>

    <!-- Sidebar Hover Menu Toggle Button -->
    <div class="button-sm-hover" data-bs-toggle="tooltip" data-bs-placement="right" title="Show Full Sidebar">
        <i class="ri-checkbox-blank-circle-line align-middle"></i>
    </div>

    <!-- Full Sidebar Menu Close Button -->
    <div class="button-close-fullsidebar">
        <i class="ri-close-fill align-middle"></i>
    </div>

    <!-- Sidebar -->
    <div class="h-100" id="leftside-menu-container" data-simplebar>

        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-title">Projects</li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarDashboards" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span class="badge bg-success float-end">5</span>
                    <span> Story </span>
                </a>
                <div class="collapse" id="sidebarDashboards">
                    <ul class="side-nav-second-level">
                        <li>
                            <a href=@Url.Action("LogLines", "Dashboards")>Loglines</a>
                        </li>
                        <li>
                            <a href=@Url.Action("Themes", "Dashboards")>Themes</a>
                        </li>
                        <li>
                            <a href=@Url.Action("Projects", "Dashboards")>Projects</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="side-nav-title">Assets</li>


            <li class="side-nav-item">
                <a href=@Url.Action("Archetype", "Archetypes") class="side-nav-link">
                    <i class="uil-folder-plus"></i>
                    <span> Archetype </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href=@Url.Action("FileManager", "Apps") class="side-nav-link">
                    <i class="uil-folder-plus"></i>
                    <span> Characters </span>
                </a>
            </li>            

            <li class="side-nav-title">Utility</li>


            <li class="side-nav-item">
                <a href=@Url.Action("Index", "Landing") target="_blank" class="side-nav-link">
                    <i class="uil-globe"></i>
                    <span class="badge text-bg-secondary float-end">New</span>
                    <span> Harvest </span>
                </a>
            </li>

            <li class="side-nav-title">Daemon</li>


            <li class="side-nav-item">
                <a href=@Url.Action("Index", "Widgets") class="side-nav-link">
                    <i class="uil-layer-group"></i>
                    <span> Services </span>
                </a>
            </li>

            <!-- Help Box -->
            <div class="help-box text-white text-center">
                <a href="javascript: void(0);" class="float-end close-btn text-white">
                    <i class="mdi mdi-close"></i>
                </a>
                <img src="/images/svg/help-icon.svg" height="90" alt="Helper Icon Image" />
                <h5 class="mt-3">Unlimited Access</h5>
                <p class="mb-3">Upgrade to plan to get access to unlimited reports</p>
                <a href="javascript: void(0);" class="btn btn-secondary btn-sm">Upgrade</a>
            </div>
            <!-- end Help Box -->


        </ul>
        <!--- End Sidemenu -->

        <div class="clearfix"></div>
    </div>
</div>
<!-- ========== Left Sidebar End ========== -->