@{
    ViewBag.Title = "Story Elements";
    ViewBag.SubTitle = "Archetypes";
}

@model List<FountainFlowUI.Models.ArchetypeViewModel>
@section styles
{
    <!-- Datatable css -->
    <link href="~/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet"
        type="text/css" />
}

@await Html.PartialAsync("~/Views/Shared/Partials/_PageTitle.cshtml")

<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-5">
                        <a href="javascript:void(0);" class="btn btn-danger mb-2"><i
                                class="mdi mdi-plus-circle me-2"></i> Add Archetype</a>
                    </div>
                    <div class="col-sm-7">
                        <div class="text-sm-end">
                            <button type="button" class="btn btn-success mb-2 me-1"><i
                                    class="mdi mdi-cog-outline"></i></button>
                            <button type="button" class="btn btn-light mb-2 me-1">Import</button>
                            <button type="button" class="btn btn-light mb-2">Export</button>
                        </div>
                    </div><!-- end col-->
                </div>

                <div class="table-responsive">
                    <table class="table table-centered w-100 dt-responsive nowrap" id="archetypes-datatable">
                        <thead class="table-light">
                            <tr>
                                <th class="all" style="width: 20px;">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="customCheck1">
                                        <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                    </div>
                                </th>
                                <th class="all">Domain</th>
                                <th>Architect</th>
                                <th>Rank</th>
                                <th style="width: 85px;">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <!-- Archetypes will be loaded dynamically via JavaScript -->
                        </tbody>
                    </table>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->
    <div class="col-8">

        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane show active" id="justified-tabs-preview">
                        <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
                            <li class="nav-item">
                                <a href="#beat1" data-bs-toggle="tab" aria-expanded="false"
                                    class="nav-link rounded-0 active">
                                    <i class="mdi mdi-home-variant d-md-none d-block"></i>
                                    <span class="d-none d-md-block">Beats</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#genre1" data-bs-toggle="tab" aria-expanded="true" class="nav-link rounded-0">
                                    <i class="mdi mdi-account-circle d-md-none d-block"></i>
                                    <span class="d-none d-md-block">Genres</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane show active" id="beat1">
                                <!-- Beats content will be loaded dynamically via JavaScript -->
                                <div id="beats-content" class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <a href="javascript: void(0);" class="text-center d-block mb-4">
                                                    <img id="archetype-image" src="" class="img-fluid"
                                                        style="max-width: 280px;" alt="Story-img" />
                                                </a>
                                            </div> <!-- end col -->
                                            <div class="col-lg-7">
                                                <form class="ps-lg-4">
                                                    <h3 id="archetype-title" class="mt-0"></h3>
                                                    <p id="archetype-date" class="mb-1"></p>
                                                    <div class="mt-4">
                                                        <p id="archetype-description"></p>
                                                    </div>
                                                </form>
                                            </div> <!-- end col -->

                                            <div class="col-xl-12">
                                                <div class="card">
                                                    <div class="card-header d-flex justify-content-between align-items-center">
                                                        <h4 class="header-title">Story Elements</h4>
                                                        <div class="dropdown">
                                                            <a href="#" class="dropdown-toggle arrow-none card-drop"
                                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                                <i class="mdi mdi-dots-vertical"></i>
                                                            </a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <!-- item-->
                                                                <a href="javascript:void(0);" class="dropdown-item">Edit</a>
                                                                <!-- item-->
                                                                <a href="javascript:void(0);" class="dropdown-item">Examples</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="card-body py-0 mb-3" data-simplebar style="max-height: 315px;">
                                                        <div id="beats-timeline" class="timeline-alt py-0">
                                                            <!-- Beats will be loaded dynamically -->
                                                        </div>
                                                        <!-- end timeline -->
                                                    </div> <!-- end simplebar -->
                                                </div>
                                                <!-- end card-->
                                            </div>
                                        </div> <!-- end row-->
                                    </div> <!-- end card-body-->
                                </div> <!-- end card-->
                            </div>
                            <div class="tab-pane" id="genre1">
                                <div id="genres-content" class="col-md-6 col-xxl-12">
                                    <!-- Genres will be loaded dynamically -->
                                </div> <!-- end col -->
                            </div>
                        </div>
                    </div> <!-- end preview-->
                </div> <!-- end tab-content-->
            </div> <!-- end card-body -->
        </div> <!-- end card-->

    </div> <!-- end col -->
</div>
<!-- end row -->


@section scripts
{
    <!-- Datatable js -->
    <script src="~/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/vendor/jquery-datatables-checkboxes/js/dataTables.checkboxes.min.js"></script>
    
    <script>
        $(document).ready(function () {
            // Initialize variables
            let archetypes = [];
            let selectedArchetypeId = null;
            
            // Load archetypes on page load
            loadArchetypes();
            
            function loadArchetypes() {
                $.ajax({
                    url: '@Url.Action("GetArchetypes", "Archetypes")',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        archetypes = data;
                        
                        // Sort archetypes by rank (using the ID as a proxy for rank in this example)
                        archetypes.sort((a, b) => a.id.localeCompare(b.id));
                        
                        // Populate the archetypes table
                        populateArchetypesTable(archetypes);
                        
                        // Select the first archetype by default
                        if (archetypes.length > 0) {
                            selectArchetype(archetypes[0].id);
                        }
                    },
                    error: function (error) {
                        console.error('Error loading archetypes:', error);
                    }
                });
            }
            
            function populateArchetypesTable(archetypes) {
                const tableBody = $('#archetypes-datatable tbody');
                tableBody.empty();
                
                archetypes.forEach((archetype, index) => {
                    const row = `
                        <tr data-archetype-id="${archetype.id}">
                            <td>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="customCheck${index}">
                                    <label class="form-check-label" for="customCheck${index}">&nbsp;</label>
                                </div>
                            </td>
                            <td>
                                <p class="m-0 d-inline-block align-middle font-16">
                                    <a href="javascript:void(0);" class="text-body archetype-link">${archetype.domain}</a>
                                    <br />
                                </p>
                            </td>
                            <td>
                                ${archetype.architect}
                            </td>
                            <td>
                                ${index + 1}
                            </td>
                            <td class="table-action">
                                <a href="javascript:void(0);" class="action-icon view-archetype"> <i class="mdi mdi-eye"></i></a>
                                <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                            </td>
                        </tr>
                    `;
                    tableBody.append(row);
                });
                
                // Add click event to archetype links
                $('.archetype-link, .view-archetype').on('click', function() {
                    const archetypeId = $(this).closest('tr').data('archetype-id');
                    selectArchetype(archetypeId);
                });
                
                // Initialize DataTable
                if ($.fn.DataTable.isDataTable('#archetypes-datatable')) {
                    $('#archetypes-datatable').DataTable().destroy();
                }
                
                $('#archetypes-datatable').DataTable({
                    responsive: true,
                    "order": [[3, "asc"]], // Sort by rank column
                    "columnDefs": [
                        { "orderable": false, "targets": [0, 4] } // Disable ordering for checkbox and actions columns
                    ]
                });
            }
            
            function selectArchetype(archetypeId) {
                selectedArchetypeId = archetypeId;
                
                // Highlight the selected row
                $('#archetypes-datatable tbody tr').removeClass('table-active');
                $(`#archetypes-datatable tbody tr[data-archetype-id="${archetypeId}"]`).addClass('table-active');
                
                // Load archetype details
                $.ajax({
                    url: `@Url.Action("GetArchetype", "Archetypes")?id=${archetypeId}`,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        // Update the archetype details
                        updateArchetypeDetails(data);
                        
                        // Update the beats
                        updateBeats(data.beats);
                        
                        // Update the genres
                        updateGenres(data.genres);
                    },
                    error: function (error) {
                        console.error('Error loading archetype details:', error);
                    }
                });
            }
            
            function updateArchetypeDetails(archetype) {
                // Update the archetype image
                const imagePath = archetype.icon ? archetype.icon : '/images/default-archetype.png';
                $('#archetype-image').attr('src', imagePath);
                
                // Update the archetype title and description
                $('#archetype-title').text(archetype.domain);
                $('#archetype-date').text(`Added Date: ${new Date().toLocaleDateString()}`);
                $('#archetype-description').text(archetype.description);
            }
            
            function updateBeats(beats) {
                const beatsTimeline = $('#beats-timeline');
                beatsTimeline.empty();
                
                if (beats && beats.length > 0) {
                    beats.sort((a, b) => a.parentSequence - b.parentSequence);
                    
                    beats.forEach(beat => {
                        const beatItem = `
                            <div class="timeline-item">
                                <i class="mdi mdi-upload bg-info-lighten text-info timeline-icon"></i>
                                <div class="timeline-item-info">
                                    <a href="#" class="text-info fw-bold mb-1 d-block">${beat.name}</a>
                                    <small>${beat.description}</small>
                                    <p class="mb-0 pb-2">
                                        <small class="text-muted">Page ${beat.percentOfStory}</small>
                                    </p>
                                </div>
                            </div>
                        `;
                        beatsTimeline.append(beatItem);
                    });
                } else {
                    beatsTimeline.append('<div class="text-center p-3">No beats available for this archetype.</div>');
                }
            }
            
            function updateGenres(genres) {
                const genresContent = $('#genres-content');
                genresContent.empty();
                
                if (genres && genres.length > 0) {
                    genres.forEach(genre => {
                        const genreCard = `
                            <div class="card d-block mb-3">
                                <div class="card-body">
                                    <div class="dropdown card-widgets">
                                        <a href="#" class="dropdown-toggle arrow-none" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ri-more-fill"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-pencil me-1"></i>Edit</a>
                                            <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-delete me-1"></i>Delete</a>
                                            <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-email-outline me-1"></i>Invite</a>
                                            <a href="javascript:void(0);" class="dropdown-item"><i class="mdi mdi-exit-to-app me-1"></i>Leave</a>
                                        </div>
                                    </div>
                                    <!-- project title-->
                                    <h4 class="mt-0">
                                        <a href="javascript:void(0);" class="text-title">${genre.name}</a>
                                    </h4>
                                    <p class="text-muted font-13 my-3">${genre.description}<a href="javascript:void(0);" class="fw-bold text-muted">view more</a></p>
                                    <!-- project detail-->
                                    <p class="mb-1">
                                        <span class="pe-2 text-nowrap mb-2 d-inline-block">
                                            <i class="mdi mdi-format-list-bulleted-type text-muted"></i>
                                            <b>10</b> Examples
                                        </span>
                                        <span class="text-nowrap mb-2 d-inline-block">
                                            <i class="mdi mdi-comment-multiple-outline text-muted"></i>
                                            <b>50</b> Hybrids
                                        </span>
                                    </p>
                                </div>
                            </div>
                        `;
                        genresContent.append(genreCard);
                    });
                } else {
                    genresContent.append('<div class="text-center p-3">No genres available for this archetype.</div>');
                }
            }
        });
    </script>
}